{% load static %}
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    
    <title>Todo Woo</title>
</head>
        
    
    
    <br>
<body>
    
    
   
<nav class="navbar navbar-expand-md navbar-light bg-warning">
<div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
         <img src="{% static 'todo/logo.png' %}" width="30" height="30" class="d-inline-block align-top">
        <span>Todo Woo</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    
        <ul class="navbar-nav mr-auto">

                <li class="nav-item {{ current }}">
                    <a class="nav-link" href="{% url 'currenttodos' %}">Current</a>
                </li>
                <li class="nav-item {{ completed }}">
                    <a class="nav-link" href="{% url 'completedtodos' %}">Completed</a>
                </li>

        </ul>
    <ul class="navbar-nav ml-auto">
            
                <li class="nav-item  {{% url 'logoutusers' %}">
                        <a class="nav-link" href="{% url 'logoutusers' %}">Logout</a>
                </li>
           
        </ul>
    </div>
</div>
</nav>
<div class ="row justify-content-center align-items-center">
    <div class = "col-md-5">
        <h1>New Todo</h1>
    </div>
</div>

<div class ="row justify-content-center align-items-center">
    <div class = "col-md-5">
        <h3>{{ error }}</h3>
        <div class ="alert alert-danger" role="alert"></div>
        <form method = "POST" >
        {% csrf_token %}
            <div class="form-group">
                <lable for = "title">Title</lable>
                <input type = "text" name ="title" class="form-control" id ="title">
            </div>
            <div class = "form-group">
                <label for ="memo">Memo</label>
                <textarea  name = "memo" id = "memo" class="form-control"></textarea>
            </div>
            <div class ="form-group form-check">
                <input type="checkbox" class = "form-check-input" name="Important" id ="Important">
                <lable  class="form-check-lable" for="Important">Important</lable>
            </div>
        
    <button type="submit" class ="btn btn-primary" >Create</button>
</form>
    </div>
</div>
    </body>
</html>
